<!--
Copyright 2025 Digital Bazaar, Inc.

SPDX-License-Identifier: BSD-3-Clause
-->

<html>
  <head>
    <title>Credential Viewer</title>
    <meta http-equiv="content-security-policy" content="frame-src 'none'">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.0/semantic.min.css" integrity="sha512-PwhgdrueUt7iVICnZMjYcbiLalCztrVfzUIYXekIK8hZu4DQP141GrKh6fUHmNERWi4bGdBXIZqtBZnsSzHEMg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.1.0/mustache.min.js" integrity="sha512-HYiNpwSxYuji84SQbCU5m9kHEsRqwWypXgJMBtbRSumlx1iBB6QaxgEBZHSHEGM+fKyCX/3Kb5V5jeVXm0OglQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module">
      import './app.js';
    </script>
    </script>
    <style>
      .ui.list .ui.list { border-left: 1px solid lightgray; }
    </style>
  </head>
  <body>

    <!-- component templates -->
    <template id="svg-viewer">
      <div class="ui top attached tabular menu">
        <div class="item" :class="{ active: currentTab == 'rendered' }"
          @click="currentTab = 'rendered'">Rendered Template</div>
        <div class="item" :class="{ active: currentTab == 'code' }"
          @click="currentTab = 'code'">SVG Template Code</div>
      </div>
      <div class="ui bottom attached tab segment" :class="{ active: currentTab == 'rendered' }">
        <div class="ui massive image"><img :src="dataURLfromSVG()"></div>
      </div>
      <div class="ui bottom attached tab segment" :class="{ active: currentTab == 'code' }">
        <div class="ui form">
          <div class="field">
            <textarea v-model="code" placeholder="SVG Template"></textarea>
          </div>
        </div>
      </div>
    </template>

    <template id="html-viewer">
      <div class="ui top attached tabular menu">
        <div class="item" :class="{ active: currentTab == 'rendered' }"
          @click="currentTab = 'rendered'">Rendered Template</div>
        <div class="item" :class="{ active: currentTab == 'code' }"
          @click="currentTab = 'code'">HTML Template Code</div>
      </div>
      <div class="ui bottom attached tab segment" :class="{ active: currentTab == 'rendered' }">
        <iframe sandbox="allow-scripts allow-modals" :srcdoc="shimCode()" style="width: 100%; border: none;"></iframe>
      </div>
      <div class="ui bottom attached tab segment" :class="{ active: currentTab == 'code' }">
        <div class="ui form">
          <div class="field">
            <textarea v-model="store.code" placeholder="HTML Template"></textarea>
          </div>
        </div>
      </div>
    </template>

    <!-- main appication -->
    <main class="ui basic segment" v-scope>
      <div class="ui one column grid">
        <div class="column">
          <div class="ui form">
            <div class="ui grid">
              <div class="two wide column">
                <button class="ui button" @click="pickFile()">Choose Credential...</button>
              </div>
              <div class="fourteen wide column">
                <div class="inline field">
                  <label for="examples">Examples:</label>
                  <select id="examples" @change="loadExampleCredential">
                    <option value="" disabled selected>Select an example</option>
                    <option
                      v-for="example in examples.contains"
                      :value="example.files.credential"
                      v-text="example.title"></option>
                  </select>
                </div>
              </div>
            </div>
            <span v-text="filename"></span>
            <div class="field">
              <textarea v-model="credentialString" @input="getCredential" placeholder="Credential"></textarea>
            </div>
            <div class="ui error message" :class="{ visible: parseError.length > 0 }" v-text="parseError"></div>
          </div>
        </div>
      </div>

      <section class="ui basic segment" v-if="'type' in store.credential">
        <div class="ui bulleted horizontal list">
          <div class="item">
            <div class="content">
              <div class="header">@context</div>
            </div>
          </div>
          <a class="link item" v-for="(context) in store.credential['@context']" v-text="context" :href="context"></a>
        </div>
      </section>
      <section class="ui basic segment">
      <!-- Credential Images -->
      <div class="ui three column divided grid" v-if="Object.keys(store.credential).length > 0">
        <div class="column">
          <div class="ui header">Credential</div>
          <div class="ui list">
            <div class="item" v-for="(value, key) in store.credential">
              <template v-if="['@context', 'credentialSubject', 'issuer'].indexOf(key) === -1 && typeof(value) !== 'object'">
                <div class="header" v-text="key"></div>
                <div class="description" v-text="value"></div>
              </template>
              <template v-else-if="['@context', 'credentialSubject', 'issuer'].indexOf(key) === -1 && typeof(value) === 'object' && !Array.isArray(value)">
                <div class="ui list">
                  <div class="item" v-for="(v, k) in value">
                    <template v-if="['@context', 'credentialSubject', 'issuer'].indexOf(k) === -1 && typeof(v) !== 'object'">
                      <div class="header" v-text="k"></div>
                      <div class="description" v-text="v"></div>
                    </template>
                  </div>
                </div>
              </template>
              <template v-else-if="['@context', 'credentialSubject', 'issuer', 'renderMethod'].indexOf(key) === -1 && typeof(value) === 'object' && Array.isArray(value)">
                <div class="header" v-text="key"></div>
                <div class="description">
                  <div v-for="(element) in value">
                    <div v-if="typeof(element) !== 'object'" v-text="element"></div>
                    <div v-if="typeof(element) === 'object' && !Array.isArray(element)">
                      <div class="ui list">
                        <div class="item" v-for="(v, k) in element">
                          <template v-if="typeof(v) !== 'object'">
                            <div class="header" v-text="k"></div>
                            <div class="description">
                              <div v-if="typeof(v) === 'string' && v.substr(0, 10) === 'data:image'">
                                <img :src="v" class="ui image">
                              </div>
                              <div v-else v-text="v"></div>
                            </div>
                          </template>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
        <div class="column" v-if="'credentialSubject' in store.credential">
          <div class="ui header">Credential Subject</div>
          <div class="ui list">
            <div class="item" v-for="(value, key) in store.credential.credentialSubject">
              <template v-if="['image'].indexOf(key) === -1 && typeof(value) !== 'object'">
                <div class="header" v-text="key"></div>
                <div class="description" v-text="value"></div>
              </template>
              <template v-else>
                <div class="header" v-text="key"></div>
                <div class="description">
                  <div class="ui list">
                    <div class="item" v-for="(v, k) in value">
                      <template v-if="['image'].indexOf(k) === -1 && typeof(v) !== 'object'">
                        <div class="header" v-text="k"></div>
                        <div class="description">
                          <div v-if="typeof(v) === 'string' && v.substr(0, 10) === 'data:image'">
                            <img :src="v" class="ui image">
                          </div>
                          <div v-else v-text="v"></div>
                        </div>
                      </template>
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
        <div class="column" v-if="'issuer' in store.credential && typeof store.credential.issuer == 'object'">
          <div class="ui header">Issuer</div>
          <div class="ui list">
            <div class="item" v-for="(v, k) in store.credential.issuer">
              <div class="header" v-text="k"></div>
              <div class="description">
                <div v-if="typeof(v) === 'string' && v.substr(0, 10) === 'data:image'">
                  <img :src="v" class="ui image">
                </div>
                <div v-else v-text="v"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Render Method Object -->
      <div class="ui two column grid" v-if="'renderMethod' in store.credential && !Array.isArray(store.credential.renderMethod)">
        <div class="ui header">Render Method</div>
        <div class="row">
          <div class="column">
            <div class="ui list">
              <div class="item" v-for="(v, k) in store.credential.renderMethod">
                <template v-if="k !== 'template'">
                  <div class="header" v-text="k"></div>
                  <div class="description">
                    <div v-if="typeof(v) === 'string' && v.substr(0, 10) === 'data:image'">
                      <img :src="v" class="ui image">
                    </div>
                    <div v-else v-text="v"></div>
                  </div>
                </template>
              </div>
            </div>
          </div>
          <div class="column" v-if="store.credential.renderMethod.type === 'SvgRenderingTemplate2024' && store.credential.renderMethod?.template">
            <div v-scope="SVGViewer({idx})" @vue:mounted="mounted"></div>
          </div>
          <div class="column" v-else-if="store.credential.renderMethod.type === 'TemplateRenderMethod' && store.credential.renderMethod.renderSuite === 'html'">
            <div v-scope="HTMLViewer({template: store.credential.renderMethod?.template, credential: store.credential, pointers: store.credential.renderMethod.renderProperty})"></div>
          </div>
          <div class="column" v-else>
            <div v-text="'No viewer available for render method type: ' + store.credential.renderMethod.type"></div>
          </div>
        </div>
      </div>

      <!-- Multiple Render Methods in an Array -->
      <div class="ui two column grid" v-if="'renderMethod' in store.credential && Array.isArray(store.credential.renderMethod)">
        <div class="ui header">Render Methods</div>
        <div class="row" v-for="(renderMethod, idx) in store.credential.renderMethod">
          <div class="column">
            <div class="ui list">
              <div class="item" v-for="(v, k) in renderMethod">
                <template v-if="k !== 'template'">
                  <div class="header" v-text="k"></div>
                  <div class="description">
                    <div v-if="typeof(v) === 'string' && v.substr(0, 10) === 'data:image'">
                      <img :src="v" class="ui image">
                    </div>
                    <div v-else v-text="v"></div>
                  </div>
                </template>
              </div>
            </div>
          </div>
          <div class="column" v-if="renderMethod.type === 'SvgRenderingTemplate2024' && renderMethod?.template">
            <div v-scope="SVGViewer({idx})" @vue:mounted="mounted"></div>
          </div>
          <div class="column" v-else-if="renderMethod.type === 'TemplateRenderMethod' && renderMethod.renderSuite === 'html'">
            <div v-scope="HTMLViewer({template: renderMethod?.template, credential: store.credential, pointers: renderMethod.renderProperty})"></div>
          </div>
          <div class="column" v-else>
            <div v-text="'No viewer available for render method type: ' + renderMethod.type"></div>
          </div>
        </div>
      </div>

    </main>
  </body>
</html>
